<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post In detail</title>
    
</head>
<body>
    <h2>Here ur post in detail</h2>
    <p>Id: <%=post.id %></p>
    <div >
        <h2  ><%= post.username %></h2>
        <p  ><%= post.content %></p>
    </div>
    
</body>
</html>